#!/bin/bash

# make SA learn your spam folder via isbg,also save the password
# isbg.py --imaphost imap.openmailbox.org --ssl --imapuser  --spaminbox Jumk --spamc --teachonly --learnspambox Spam --savepw

isbg.py --imaphost imap.openmailbox.org --ssl --imapuser --spaminbox Junk --delete --expunge --noninteractive --spamc
{{ item.1 }}
# imapfilter
