deb http://ftp.jp.debian.org/debian/ {{ release }} main contrib non-free
deb-src http://ftp.jp.debian.org/debian/ {{ release }} main contrib non-free
#deb http://moblock-deb.sourceforge.net/debian sid main
#deb-src http://moblock-deb.sourceforge.net/debian sid main
deb http://www.deb-multimedia.org {{ release }} main non-free
deb http://download.jitsi.org/deb unstable/
deb http://mozilla.debian.net/ experimental iceweasel-beta
